<html lang="en" ng-app="mldesigner">
  <head>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
	<link rel="stylesheet" href="/static/css/style.css" />

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
      <!--
    <link rel='stylesheet' href='/static/css/dataInspector.css' />
    -->
  </head>
  <body layout="row" >
     <div id="content" ng-view flex md-scroll-y  layout="row" ></div>

    <!-- Angular Material Dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>

    <script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.0/ui-bootstrap-tpls.min.js"></script>

    <script src="/static/js/libs/go-debug.js"></script>
    <script src="/static/js/libs/DataInspector.js"></script>
    <script src="/static/js/app.js"></script>

    <script src="/static/js/nodes/asset.js"></script>
    <script src="/static/js/nodes/bucketizer.js"></script>
    <script src="/static/js/nodes/code.js"></script>
    <script src="/static/js/nodes/connections.js"></script>
    <script src="/static/js/nodes/dataGeneration.js"></script>
    <script src="/static/js/nodes/delay.js"></script>
    <script src="/static/js/nodes/deviceMonitor.js"></script>
    <script src="/static/js/nodes/deviceTemplate.js"></script>
    <script src="/static/js/nodes/group.js"></script>
    <script src="/static/js/nodes/nn.js"></script>
    <script src="/static/js/nodes/statistics.js"></script>
     <script src="/static/js/nodes/nn_time.js"></script>
     <script src="/static/js/nodes/email.js"></script>
     <script src="/static/js/nodes/reporter.js"></script>

     <script src="static/js/authService.js"></script>
    <script src="/static/js/designer.js"></script>
  </body>
</html>